.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.342);
    padding-bottom: 20px;
    border-radius: 20px;
}
.results img{
    border-radius: 20px;
    width: 300px;
    height: 300px;
}